@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

.bg-gradient-radial {
  background: radial-gradient(ellipse at 4.22% -845.82%, #2E5340 0%, #525301 55.78%, #1B4E16 100%);

}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 0.4rem; /* Set the width to make it less visible */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background color for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Gray color for the handle */
  border-radius: 1rem; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray color on hover */
}
